
<% @rows.each do |row| %>
  <div class='vidbox'>
      <iframe width="360" height="200" src='<%= row['url'] %>' frameborder="0" allowfullscreen></iframe>
      <h3><%= row['title'] %></h3>
      <br>
      <p><strong>Description:</strong> <%= row['description'] %></p>
      <p><strong>Genre:</strong> <%= row['genre'] %></p>

      <form action='/videos/<%= row['id'] %>/delete' method='post'>
        <button>Delete</button>
      </form>

      <a href='/videos/<%= row['id'] %>/edit'>Edit</a>
  </div>
<% end %>