
<% @rows.each do |row| %>

  <div id='vidbox'>
      <iframe width="400" height="250" src='<%= row['url'] %>' frameborder="0" allowfullscreen></iframe>
      <p class='vidbox_header'><%= row['title'] %></p>
      <br>
      <p class='vidbox_text'><strong>Description:</strong> <%= row['description'] %></p>
      <p class='vidbox_text'><strong>Genre:</strong> <%= row['genre'] %></p>

      <form action='/videos/<%= row['id'] %>/delete' method='post'>
        <button>Delete</button>
      </form>

      <p class='vidbox_text'><a href='/videos/<%= row['id'] %>/edit'>Edit</a></p>
  </div>
<% end %>